<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='tree.css') }}"></link>
  <link rel="stylesheet" href="{{ url_for('static', filename='./bootstrap-4.6.0-dist/css/bootstrap.min.css') }}"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='./bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='./bootstrap-4.6.0-dist/js/bootstrap.min.js') }}"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="{{ url_for('static', filename='tree.js') }}"></script>
  <script src="{{ url_for('static', filename='vis-network.min.js') }}"></script>
</head>

<body>
<nav class="navbar navbar-light bg-light fixed-top">
  <div class="navbar navbar-light bg-light border border-success rounded text-success text-center">
    FuzzInspector
  </div>
  <div>
    <form class="form-inline">
      <div class="dropdown mr-sm-2">
	<button class="btn bg-white border dropdown-toggle" type="button" id="dropdownCurSeedToggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  Display Seed
	</button>
	<div id="dropdownCurSeedMenu" class="dropdown-menu" aria-labelledby="dropdownCurSeedToggle">
	  <a class="dropdown-item" href="#">Action</a>
	  <a class="dropdown-item" href="#">Another action</a>
	  <a class="dropdown-item" href="#">Something else here</a>
	</div>
      </div>
      <input class="form-control mr-sm-2" type="search" name="address" placeholder="Address" aria-label="Address" value="{{ address }}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="overlap w-100">
  <div id="mynetwork"></div>
  <div id="hitCntDiv" class="text-center overlap-div">
    <div class="hit-box"></div>
  </div>
  <div id="fuzzerColorDiv" class="text-right p-2 overlap-div"></div>
  <div id="logDiv" class="log-box text-left p-2 overlap-div"></div>
</div>
<div class="modal fade" id="visualContent" tabindex="-1" role="dialog" aria-labelledby="visualContentTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="visualContentLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<div class="container">
	  <div class="row">
	    <div class="col-6">
	      <div class="dropdown w-100">
		<button class="btn btn-secondary dropdown-toggle w-100 text-truncate overflow-hidden" type="button" id="dropdownDisasToggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  Dropdown button
		</button>
		<div id="dropdownDisasMenu" class="dropdown-menu" aria-labelledby="dropdownDisasToggle">
		  <a class="dropdown-item" href="#">Action</a>
		  <a class="dropdown-item" href="#">Another action</a>
		  <a class="dropdown-item" href="#">Something else here</a>
		</div>
	      </div>
	    </div>
	    <div class="col-6">
	      <div class="dropdown w-100">
		<button class="btn btn-secondary dropdown-toggle w-100 text-truncate overflow-hidden" type="button" id="dropdownSeedToggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  Dropdown button
		</button>
		<div id="dropdownSeedMenu" class="dropdown-menu" aria-labelledby="dropdownSeedToggle">
		  <a class="dropdown-item" href="#">Action</a>
		  <a class="dropdown-item" href="#">Another action</a>
		  <a class="dropdown-item" href="#">Something else here</a>
		</div>
	      </div>
	    </div>
	  </div>
	  <div class="row mt-3">
	    <div class="col">
	      <div id="modalLogDiv" class="log-box"></div>
	    </div>
	  </div>
	  <div class="row mt-3">
	    <div class="col">
	      <nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist" select="CPUState">
		  <a class="nav-link active" id="nav-cpustate-tab" data-toggle="tab" href="#nav-cpustate" role="tab" aria-controls="nav-cpustate" aria-selected="true">CPUState</a>
		  <a class="nav-link" id="nav-relation-tab" data-toggle="tab" href="#nav-relation" role="tab" aria-controls="nav-relation" aria-selected="false">Relationship</a>
		</div>
	      </nav>
	      <div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active" id="nav-cpustate" role="tabpanel" aria-labelledby="nav-cpustate-tab">
		  <div class="context-container mt-3">
		    <div id="divCPUState" class="context">
		      CPUState
		    </div>
		    <div class="context-loading d-none">
		      <div class="spinner-border loading" role="status">
			<span class="sr-only">Loading...</span>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="tab-pane fade" id="nav-relation" role="tabpanel" aria-labelledby="nav-relation-tab">
		  <div class="context-container mt-3">
		    <div id="divRelation" class="context mt-3">
		      Relationship
		    </div>
		    <div class="context-loading d-none">
		      <div class="spinner-border loading" role="status">
			<span class="sr-only">Loading...</span>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	  <div class="row mt-3">
	    <div class="col">
	      <div class="input-group">
		<input id="inputCtx" type="text" class="form-control" placeholder="default backtrace hex byte str" aria-label="" aria-describedby="basic-addon1">
		<div class="input-group-prepend">
		  <button class="btn btn-outline-secondary" type="button" onclick="execute()">Execute</button>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div class="modal-footer">
	<div class="container">
	  <div class="input-group">
	    <input id="inputConstraint" type="text" class="form-control" placeholder="str_offset_value" aria-label="" aria-describedby="basic-addon1">
	    <div class="input-group-prepend">
	      <button id="btnConstraint" class="btn btn-outline-secondary" type="button" onclick="prepareConstraint()">Constraint</button>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
  <script>
    var DOTstring = {{ dot | safe }};
    DOTstring = DOTstring.replaceAll('\\l', '\n');
    DOTstring = DOTstring.replaceAll('\\"', '');
    var addrFix = {{ addr_fix }};
    var result = DOT2CFG(DOTstring, addrFix)
    var network = result[0];
    var nodes = result[1].nodes;
    let bitmapCnt = 0;
    let cpustateCnt = 0;
    let relationshipCnt = 0;
    let logCnt = 0;

    setInterval(function(){
      // get hit count by address
      blocks = nodes.map(function (i){return i['id']}).join('_');
      seed = $("#dropdownCurSeedToggle").text();
      payload = {"blocks": blocks,
		 "bitmapCnt": bitmapCnt,
		 "cpustateCnt": cpustateCnt,
		 "relationshipCnt": relationshipCnt,
		 "logCnt": logCnt};
      $.post("/bitmap/get", payload, function(data, status){
	hitboxAnimate(nodes, network);
	// show hit info
	showBitmap(data["bitmap"], nodes, network, seed);
	bitmapCnt = data["bitmap_cnt"]
	// show CPUState
	showCPUState(data["cpustate"]);
	cpustateCnt = data["cpustate_cnt"];
	// show Relationship
	showRelationship(data["relationship"]);
	relationshipCnt = data["relationship_cnt"];
	// show log
	showLog(data["log"]);
	logCnt = data["log_cnt"];
      });
    }, 1000);
  </script>
</body>
